<h1 class="centered">All Books</h1>

<a href="/books/new">Create New Book</a>

<h3>Search Books</h3>
<form class="books-search" action="/books" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
    <div>
      <label>
          <input type="checkbox" name="isCarried" value="true" <%= searchOptions.isCarried ? 'checked' : '' %>>Only include carried books <span>-------------INCLUDE OTHER FILTERS HERE LIKE "ONLY SHOW BOOKS WITH NO ISBN", ETC</span>
      </label>
  </div>
    <button type="submit">Search</button>
</form>
<div class="grid-container">
  <% 
    books.sort((a, b) => {
      if (a.isCarried && !b.isCarried) return -1;
      if (!a.isCarried && b.isCarried) return 1;
      if (a.title < b.title) return -1;
      if (a.title > b.title) return 1;
      return 0;
    });
    books.forEach(book => { 
  %>
      <div class="card <%= book.isCarried === true ? 'in-stock' : '' %>">
        <h2><%= book.title %></h2>
        <% if (book.coverImage) { %>
          <img src="<%= book.coverImage %>" alt="<%= book.title %> cover image">
          <% } else { %> 
            <img class="book-missing" src="https://internalpage.s3.amazonaws.com/bookfiles/bookimages/covermissing.png" alt="Missing Cover Image">
            <% } %> 
        <div>
          <a class="book-links" href="/books/<%= book.id %>">View</a>
          <a class="book-links" href="/books/<%= book.id %>/edit">Edit</a>
          <% if (book.bookPDF) { %>
            <br><a class="book-links" href="<%= book.bookPDF %>" target="_blank">Print PDF</a>
          <% }%>

        </div>
      </div>
  <% }) %>
</div>

<style>
    .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 16px;
  padding: 16px;
}

.book-links {text-decoration:none;
  display: inline-block;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #667ead;
  border: none;
  border-radius: 5px;
  margin: 4px 0;
}

.book-links:hover {
  background-color:#92b6ff;
}

.in-stock {
  background-color:rgb(212, 241, 212)!important;
}

.book-missing {
  opacity: 60%;
}

.books-search > * {
  margin-bottom: 8px;
}

.card {
  background-color: rgb(243, 212, 212);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  display: grid;
}

.card h2 {
  font-size: 16px;
  margin-bottom: 8px;
  height: 2.2rem;
  display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
}

.card img {
  max-width: 100%;
  margin-bottom: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.card p {
  margin: 4px 0;
}
</style>