<h4>Basic Information</h4>
<form action="/exams" method="POST">
    <div class="create-book-fields">
        <label>Name<span class="required">*</span></label>
        <input type="text" name="name" value="<%= exam.name %>">
    </div>

    <div class="create-book-fields">
        <label>Candidate Bulletin Link</label>
        <input type="text" name="candidateBulletin" value="<%= exam.candidateBulletin %>">
        <a href="<%= exam.candidateBulletin %>" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" width="24" height="24" class="size-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
          
          </a>
    </div>

    <div class="create-book-fields">
        <label>Search Books</label>
        <input type="text" id="book-search" placeholder="Search books...">
    </div>

    <div class="create-book-fields">
        <label>Books</label>
        <div id="book-list" class="grid-container">
            <% books.sort((a, b) => a.title.localeCompare(b.title)).forEach(book => { %>
                <div class="book-item">
                    <input type="checkbox" name="books" value="<%= book.id %>" <%= exam.books && exam.books.includes(book.id) ? 'checked' : '' %>>
                    <span class="book-title"><%= book.title %></span>
                </div>
            <% }) %>
        </div>
    </div>
    <p class="required">* = required field</p>
    <button class="save-button" type="submit">Save</button>
</form>

<style>
    .create-book-fields { padding-bottom: 12px; }
    .required { font-size: 16px; color: red; }
    .books-selected { border: 1px solid rgb(34, 34, 34); border-radius: 4px; background-color: rgb(161, 161, 161); min-height: 10vh; width: 50%; }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .book-item { display: flex; align-items: center; }
    .book-title { margin-left: 8px; font-size: 14px; }
    .save-button {margin-bottom:16px;}
</style>

<script>
document.getElementById('book-search').addEventListener('input', function() {
    let searchQuery = this.value.toLowerCase();
    let bookItems = document.querySelectorAll('.book-item');
    
    bookItems.forEach(function(item) {
        let bookTitle = item.querySelector('.book-title').textContent.toLowerCase();
        if (bookTitle.includes(searchQuery)) {
            item.style.display = 'flex';
        } else {
            item.style.display = 'none';
        }
    });
});
</script>
