<h2><%= exam.name %></h2>
<p>Last Checked: <%= formattedDate %></p>
<form action="/exams/<%= exam.id %>/confirmed" method="POST"> <button type="submit">Update "Last Checked"</button> </form>
<a href="/exams/<%= exam.id %>/edit">Edit</a>
<br>
<div class="view-exam-columns">
    <div id="content-container" style="width: 50%; <% if(exam.candidateBulletin.endsWith('.pdf')) { %>height: 600px; <% } %>"></div>
    <div class="view-exam-books">
        <h3>Books:</h3>
        <% exam.books.sort((a, b) => a.title.localeCompare(b.title)).forEach(book => { %>
            <a href="/books/<%= book.id %>"><%= book.title %></a><br>
        <% }) %>
    </div>
</div>
<style>
    .view-exam-books {margin:24px;}
    .view-exam-columns {display:flex;}
</style>

<script>
    // Get the exam.candidateBulletin value from server-side EJS
    const candidateBulletin = "<%= exam.candidateBulletin %>";

    // Get the content container
    const contentContainer = document.getElementById('content-container');

    // Function to check if the URL is a PDF
    function isPdfUrl(url) {
        return url.endsWith('.pdf');
    }

    // Determine the content type and update the container
    if (isPdfUrl(candidateBulletin)) {
        // Render PDF using <embed>
        contentContainer.innerHTML = `<embed src="${candidateBulletin}" type="application/pdf" width="100%" height="100%" />`;
    } else {
        // Render webpage using <iframe>
        contentContainer.innerHTML = `<a href="${candidateBulletin}" target=_blank>Click here for Candidate Bulletin</a>`;
    }
</script>